<nav class="navbar navbar-expand-lg  navbar-light" style="background-color: #CC3333;" > 
  
  <%= link_to "Alpha blog", root_path, class: "navbar-brand", id: "logo"  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      

      <li>
        <%= link_to "OUR ARTICLES", articles_path, class: "nav-link"  %></li>
        

        


      <li>
        <%= link_to "LOG OUT", logout_path, class: "nav-link" , method: :delete %>
      </li>


      </li>
      <li class="nav-item">
     
      <%= link_to "ABOUT US", about_path, class: "nav-link"  %></li>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          RESOURCES
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      

          <%= link_to "Create Articles", new_article_path, class: "dropdown-item"  %>

        
         
         <%= link_to "Edit/Delete Articles",  articles_path, class: "dropdown-item"  %>

          <div class="dropdown-divider"></div>
         
           <%= link_to "SIGN-UP", signup_path, class: "dropdown-item"  %>

           <%= link_to "USERS ID", users_path, class: "dropdown-item"%> 

           <%= link_to "LOG IN", login_path, class: "dropdown-item"%>  
        </div>






        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        CATEGORIES
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      

          <%= link_to "ALL CATEGORIES", categories_path, class: "dropdown-item"  %>
          <% Category.all.each do |category| %>
           
             <%= link_to "#{category.name}", category_path(category), class: "dropdown-item" %>
           <% end %>

        
         
         <%= link_to "CREATE NEW CATEGORY",  new_category_path, class: "dropdown-item"  %>

        


      





      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Coming Soon</a>
      </li>




      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          YOUR PROFILE
        </a>
       

     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to "Edit your profile", users_path(current_user), class: "dropdown-item"  %>

        <%= link_to "View your Profile", users_path(current_user), class: "dropdown-item"  %>

          <div class="dropdown-divider"></div>
         
           <%= link_to "LOG IN PATH", login_path, class: "dropdown-item"  %>


           <%= link_to "SIGN-UP",  signup_path,  class: "dropdown-item"%>


        <%= link_to "LOG OUT", logout_path, class: "dropdown-item", method: :delete %>
     

        </div>




  
    

     
    

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
    </form>
  </div>
</nav>